In [3]:
# Load an empty map
from keplergl import KeplerGl
import pandas as pd
import geopandas as gpd

In [34]:
df = pd.read_csv('ventas_mvdeo_20210707_depurado.csv', usecols=['valor_metro', 'lat', 'lng'])
df = df.loc[~df.lat.isna()].reset_index()
df.head(2)

   index       lat       lng  valor_metro
0      0 -34.81525 -56.21593  1300.000000
1      1 -34.88662 -56.19244  1113.043478

In [36]:
>>> import h3
>>> lat, lng = 0, 0
>>> resolution = 0
>>> h3.geo_to_h3(lat, lng, resolution)

'8075fffffffffff'

In [67]:
grid = [h3.geo_to_h3(df.lat[i], df.lng[i], 9) for i in range(df.shape[0])]

In [68]:
df['hex_id'] = grid
df.head()

   index       lat       lng  valor_metro           hex_id
0      0 -34.81525 -56.21593  1300.000000  89c2f156bb7ffff
1      1 -34.88662 -56.19244  1113.043478  89c2f1ccb2fffff
2      2 -34.85063 -56.21735  1061.643836  89c2f156cb7ffff
3      3 -34.91640 -56.16131  2444.444444  89c2f1cce6bffff
4      8 -34.82083 -56.21378  1153.846154  89c2f15695bffff

In [69]:
df2 = pd.read_csv('hex-data.csv')
df2.head()

            hex_id  value  is_true  float_value  empty           time
0  89283082c2fffff     64     True         64.1    NaN  11/1/17 11:00
1  8928308288fffff     73     True         73.1    NaN  11/1/17 11:00
2  89283082c07ffff     65     True         65.1    NaN  11/1/17 11:00
3  89283082817ffff     74     True         74.1    NaN  11/1/17 11:00
4  89283082c3bffff     66     True         66.1    NaN  11/1/17 11:00

In [70]:
config = {u'version': u'v1', u'config': {u'visState': {u'layers': [{u'type': u'hexagonId', u'visualChannels': {u'sizeField': {u'type': u'integer', u'name': u'value'}, u'coverageField': None, u'colorScale': u'quantize', u'coverageScale': u'linear', u'colorField': {u'type': u'integer', u'name': u'value'}, u'sizeScale': u'linear'}, u'config': {u'dataId': u'data_1', u'color': [250, 116, 0], u'textLabel': {u'color': [255, 255, 255], u'field': None, u'size': 50, u'anchor': u'middle', u'offset': [0, 0]}, u'label': u'H3 Hexagon', u'isVisible': True, u'visConfig': {u'coverageRange': [0, 1], u'opacity': 0.8, u'elevationScale': 5, u'hi-precision': False, u'coverage': 1, u'enable3d': True, u'sizeRange': [0, 500], u'colorRange': {u'category': u'Uber', u'type': u'sequential', u'colors': [u'#194266', u'#355C7D', u'#63617F', u'#916681', u'#C06C84', u'#D28389', u'#E59A8F', u'#F8B195'], u'reversed': False, u'name': u'Sunrise 8'}}, u'columns': {u'hex_id': u'hex_id'}}, u'id': u'jdys7lp'}], u'interactionConfig': {u'brush': {u'enabled': False, u'size': 0.5}, u'tooltip': {u'fieldsToShow': {u'data_1': [u'hex_id', u'valor_metro']}, u'enabled': True}}, u'splitMaps': [], u'layerBlending': u'normal', u'filters': []}, u'mapState': {u'bearing': 2.6192893401015205, u'dragRotate': True, u'zoom': 12, u'longitude': -56.1689, u'isSplit': False, u'pitch': 37.3742, u'latitude': -34.8732}, u'mapStyle': {u'mapStyles': {}, u'topLayerGroups': {}, u'styleType': u'dark', u'visibleLayerGroups': {u'building': True, u'land': True, u'3d building': False, u'label': True, u'water': True, u'border': False, u'road': True}}}}

In [71]:
w1 = KeplerGl(height=500, data={"data_1": df}, config=config)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [72]:
w1.save_to_html(file_name='kepler_map.html', config=config)

Map saved to kepler_map.html!